
.square{
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    cursor: pointer;
    position:relative;
}

.black::after{
    content:'';
    width:30px;
    height:30px;
    border-radius:50%;
    background-color: #000;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .white::after {
    content:'';
    width:28px;
    height:28px;
    border-radius:50%;
    border:1px solid black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }